.images-list{
    display: flex;
    flex-direction: column;
    max-width: 935px;
    padding-top: 30px;
    margin: auto;
}
.image-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
}
.modal{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #ffffff;
    overflow: auto;
    width: 100%;
    max-width: 935px;
    min-height: 450px;
    outline: none;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 736px) {
    .images-list{
       width: 100%;
    }
}